/* tooltip提示title */
#tooltip{
    position:absolute;
    border-radius: 5px;
    background:#5e5e5e;
    padding:1px;
    color:#f5f5f5;
    display:none;
}

#pane1 {
    position: relative;
    cursor: pointer;
}
.sparent {
    cursor: pointer;
}
.parent {
    background-color: #2e8ece;
}
.loading {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.menu-box {
    float: left;
    height: auto;
    margin-top: 20px;
    width: 10%;
}
.menu-box table td {
    text-align: center;
    height: 40px;
    margin-top: 20px;
    width: 200px;
}
.selected{ background:#FF6500;color:#fff;}
.table-box {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 500px;
    min-width: 400px;
    width: 80%;
}